//output:index.html
doctype html
html(lang="en-us")
  head
    title E-Commerce
    
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="E-Commerce Advanced Web Development Project")
    
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="./css/styles.css")
    
  body
    
    
    script(src="./js/jquery-3.1.1.js")
    script(src="./js/bootstrap.min.js")
